extends layouts/basic.pug

block content

  +navbar('genre-scifi')

  div.container-fluid
   
    div.row
      div.col.s12.m8.offset-m2.l6.offset-l3
        form
          div.search-field
            input#search(name='search' type='search' placeholder='Find something to watch...' value=searchText)
            button.btn-flat.waves-effect.waves-light(type='submit') #[span.material-icons search]

    div.row
      div.grid
        each seriesItem in series
          div.grid-item
            div.card.series
              a(href='/watch/' + seriesItem.id)
                div.card-image
                  img(src= seriesItem.posterPath)
                  span.card-title= seriesItem.title
              div.btn.waves-effect.waves-light.activator(href='#') More info #[i.material-icons open_in_browser]
              div.card-reveal
                span.card-title #{seriesItem.title} #[i.material-icons.right close]
                p= seriesItem.synopsis

    // TODO: add pagination
      div.row
        ul.pagination.center
          li.disabled
            a(href='#') #[i.material-icons chevron_left]
          li.active
            a(href='#') 1
          li.waves-effect
            a(href='#') 2
          li.waves-effect
            a(href='#') 3
          li.waves-effect
            a(href='#') 4
          li.waves-effect
            a(href='#') 5
          li.waves-effect
            a(href='#') #[i.material-icons chevron_right]

    div.row
      div.divider
      div.footer.center
        p ARC 2016

block append scripts

  script(type='text/javascript' src='/assets/masonry/dist/masonry.pkgd.min.js')
  script.

    // Initialize Masonry
    var elem = document.querySelector('.grid');
    var msnry = new Masonry( elem, {
      itemSelector: '.grid-item',
      fitWidth: true
    });

    // Initialize navbar-sidebar
    $(".button-collapse").sideNav();
    $(".collapsible").collapsible();