extends layouts/basic.pug

block append styles
  link(type='text/css' rel='stylesheet' href='/assets/video.js/dist/video-js.min.css')

block content

  +navbar
  
  div.row.video-grid
    div.col.l9.m12.s12
      div.video-js-container
        video.video-js.vjs-big-play-centered.vjs-fill(controls preload='auto' poster= series.posterPath data-setup='{}')
          source(src= episodes[currentEpisodeIndex].videoPath)
          p.vjs-no-js.
            To view this video please enable JavaScript, and consider upgrading to a web browser that #[a(href='http://videojs.com/html5-video-support/' target='_blank')] supports HTML5 video

    div.col.l3.m12.s12
      div.collection
        each episode, episodeIndex in episodes
          - var activeEpisodeClass = (episode.id == episodes[currentEpisodeIndex].id ? 'active' : '');
          a.collection-item(href='/watch/' + series.id + '?ep=' + episodeIndex, class= activeEpisodeClass) #{episode.title}

  div.container

    div.row
      div.col.s12
        h1.video-title= series.title

    div.row
      div.col.s12
        p= series.synopsis

    div.row
      div.divider
      div.footer.center
        p ARC 2016

block append scripts

  script(type='text/javascript' src='/assets/video.js/dist/video.min.js')
  script.

    // Initialize navbar-sidebar
    $(".button-collapse").sideNav();
    $(".collapsible").collapsible();