doctype html
html
  head
    title ARC Streaming Service
    meta(name='viewport' content='width=device-width, initial-scale=1.0')

    block fonts
      link(href='/assets/material-design-icons/iconfont/material-icons.css' rel="stylesheet")

    block styles
      link(type='text/css' rel='stylesheet' href='/assets/materialize/dist/css/materialize.min.css' media='screen,projection')

  body

    block content

    block scripts
      script(type='text/javascript' src='/assets/jquery/dist/jquery.min.js')
      script(type='text/javascript' src='/assets/materialize/dist/js/materialize.min.js')